 .mobile-menu {
  position: fixed;
  inset: 0;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}